:root {
  --purple: #5850ec;
  --light-purple: #f2f4ff;
  --purple-text: #7e84ff;
  --black: #000000;
  --dark: #121212;
  --dark-overflow: lighten(--dark, 95%);
  --dark-text: #24292e;
  --white: #ffffff;
  --light-grey: #f9fafb;
  --dark-grey: #6B7280
  --grey-input: #f5f5f5;
  --grey-text: #888888;
  --blue-badge: #ceedff;
  --blue-badge-text: #153e75;
}
