:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #24292e;
  --black-text: #121212;
  --white-text: #fcfcfc;
  --light-grey: #fcfdfd;
  --light-grey-background: #edf2f7;
  --dark-grey: #718096;
  --grey-text: #5f6d81;
  --grey: #e1e4e8;
  --light-blue: #f1f8ff;
  --blue: #0366d6;
  --blue-text: #153e75;
  --blue-badge: #ceedff;
}
