@import 'common';

.wrapper {
  width: 100%;
  padding: 1rem 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 2px solid #f2f2f2;

  @include mediaquery('lg') {
    width: auto;
    border: none;
    padding: 1rem 0 1rem 2rem;
  }
}

.text {
  font-size: 1.6rem;
  color: #6b7280;

  @include mediaquery('lg') {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.image {
  width: 3.8rem;
  height: 3.8rem;
  margin-right: 1rem;
}
