@import 'common';

.nav {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: var(--header-height);
  z-index: 2000;
  padding: 2rem 0 1rem 0;
  background-color: var(--white);

  @include mediaquery('lg') {
    display: flex;
    flex-wrap: wrap;
  }

  @include mediaquery('lg') {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
}

.hide {
  display: none;
}
