@import 'common';

.nav {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: var(--header-height);
  // overflow-y: scroll;
  z-index: 2000;
  padding: 2rem 0 1rem 0;
  background-color: var(--white);

  @include mediaquery('xs') {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.listWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;

  @include mediaquery('xs') {
    justify-content: space-between;
    flex-direction: row;
  }
}

.profile {
  width: 100%;

  @include mediaquery('xs') {
    width: auto;
    display: flex;
    align-items: center;
    position: relative;
  }
}

.userInfo {
  width: 100%;
  padding: 1rem 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 2px solid #f2f2f2;

  @include mediaquery('xs') {
    width: auto;
    border: none;
    padding: 1rem 0 1rem 2rem;
  }
}

.userText {
  font-size: 1.6rem;
  color: #6b7280;

  @include mediaquery('xs') {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
  }
}

.userImage {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
