.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  width: 100%;
  border: none;
  background-color: transparent;
}

.card {
  width: 100%;
  border-radius: 8px;
  background-color: var(--dark);
  height: auto;
  color: var(--white);
  max-width: 327px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 8px 0;
}

.arrow {
  --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHoverOffset: translateX(3px);
  position: relative;
  top: 1px;
  margin-left: 8px;
  stroke-width: 2;
  fill: none;
  stroke: currentColor;
}

.arrowLinePath {
  opacity: 0;
  transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
}
.arrowTipPath {
  transition: transform var(--hoverTransition, var(--arrowHoverTransition));
}

[data-whatintent='keyboard'] .arrowLinePath {
  opacity: 1;
}

[data-whatintent='keyboard'] .arrowTipPath {
  transform: var(--arrowHoverOffset);
}

.textContentBox {
  padding: 16px 0px 16px 0;

  &Text {
    margin: 0;
    line-height: calc(1rem * 1.5);
  }

  &Link {
    position: relative;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    margin-left: 5px;

    &:hover .arrowLinePath {
      opacity: 1;
    }
    &:hover .arrowTipPath {
      transform: var(--arrowHoverOffset);
    }
  }
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  margin: 5px;
  background: none;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
