.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  width: 100%;
  border: none;
  background-color: transparent;
}

.card {
  --cardShadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.25);
  width: 100%;
  border-radius: 8px;
  background-color: var(--white);
  height: auto;
  color: var(--dark-grey);
  // max-width: 327px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 4px 4px 4px 8px;
  box-shadow: var(--cardShadow);
}

.arrow {
  --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHoverOffset: translateX(3px);
  position: relative;
  top: 1px;
  margin-left: 8px;
  stroke-width: 2;
  fill: none;
  stroke: currentColor;

  &LinePath {
    opacity: 0;
    transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
  }

  &TipPath {
    transition: transform var(--hoverTransition, var(--arrowHoverTransition));
  }
}

[data-whatintent='keyboard'] .arrowLinePath {
  opacity: 1;
}

[data-whatintent='keyboard'] .arrowTipPath {
  transform: var(--arrowHoverOffset);
}

.textContentBox {
  padding: 16px 0px 16px 0;

  &Text {
    margin: 0;
    font-size: 0.9rem;
    line-height: calc(1rem * 1.5);
  }

  &Link {
    position: relative;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    margin-left: 5px;

    &:hover .arrowLinePath {
      opacity: 1;
    }
    &:hover .arrowTipPath {
      transform: var(--arrowHoverOffset);
    }
  }
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  margin-right: 0.5rem;
  background: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  svg path {
    fill: #cad2d9;
  }
}
