@import 'common';

.form {
  width: 100%;
  max-width: 36rem;
  min-width: 26rem;
  height: 3.8rem;
  border: none;

  @include mediaquery('xs') {
    min-width: 28rem;
    margin-left: 3rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0%;
      left: -2.5rem;
      transform: translateX(50%) rotate(30deg);
      width: 2px;
      height: 100%;
      background-color: #eaeaea;
    }

    @include mediaquery('xl') {
      margin-left: 5rem;
      &::before {
        left: -3.7rem;
      }
    }
  }

  @include mediaquery('sm') {
    min-width: 36rem;
  }
}

.input {
  font-size: 1.6rem;
  background-color: #f6f9fc;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-image: url('/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 1rem 50%;
  background-size: 1.4rem 1.4rem;
  padding: 1rem 0;
  padding-left: 3.2rem;

  @include mediaquery('xl') {
    font-size: 1.4rem;
  }

  @include placeholder() {
    color: #627489;
  }
}
