.form {
  width: 100%;
  max-width: 36rem;
  height: 3.6rem;
  border: none;
}

.input {
  font-size: 1.4rem;
  background-color: #f6f9fc;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-image: url('/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 1rem 50%;
  background-size: 1.4rem 1.4rem;
  padding: 1rem 0;
  padding-left: 3.2rem;
  border: 2px solid transparent;

  &:focus {
    border: 2px solid #f2f2f2;
    outline: none;
  }

  &::placeholder {
    color: #627489;
  }
}
