@import 'common';

.wrapper {
  width: 100%;

  @include mediaquery('lg') {
    width: auto;
    display: flex;
    align-items: center;
    position: relative;
  }
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;

  @include mediaquery('lg') {
    flex-direction: row;
  }

  &Item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;

    &:last-of-type {
      padding-bottom: 1rem;
    }

    // @include mediaquery('lg') {
    //   padding: 2rem 0;
    //   padding-left: 1rem;

    //   &:last-of-type {
    //     padding-bottom: 2rem;
    //   }
    // }

    @include mediaquery('lg') {
      padding: 0 2rem;
      padding-left: 1rem;
      width: auto;

      &:last-of-type {
        padding-bottom: 0rem;
      }
    }
  }
}

.link {
  display: flex;
  align-items: center;
  color: #6b7280;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;

  @include mediaquery('lg') {
    &:hover {
      color: #000;
    }
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;

  @include mediaquery('lg') {
    display: none;
  }

  @include mediaquery('xl') {
    display: block;
  }

  path {
    fill: #bccbda;
  }

  &:last-of-type {
    width: 1.8rem;
    height: 1.8rem;
  }
}
